


#LoginBody_id {
    background-image: url('../../Images/LoginBG.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#LoginInputPanel_id {
    margin-top: 150px;
    left: 60%;
}

.LoginInputs {
    margin-top: 15px;
    margin-bottom: 15px;
}

#input_aboutus_button_id {
    width: 150px;
    margin-top: 25px;
}
.İnputBorder {
    border: inset;
    border-radius: 10px;
}

#input_experience_button_id{
    width:200px;
    float:right;
    margin-top:35px;
    margin-right:20px;
}
.ExpSpan {
    font-weight: bold;
    font-size: 18px;
}