
@{
    ViewBag.Title = "Aboutus";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script>

    $(document).on('click', '#input_aboutus_button_id', function () {

        if ($("#input_puslished_aboutus_id").val().length <= 1) { toastr.error("Hakkımda bölümü Boş geçilmemelidir.", "Eksik Bilgi"); }
        else {
            UpdateAboutus($('#input_puslished_aboutus_id').val());
            toastr.success("Hakkımda Bilginiz Güncellenmiştir...", "Kayıt Başarılı");
            setTimeout(myfunc, 1500);
            function myfunc() {
                window.location.reload(false)
            }
        }
    });


</script>




<div class="panel" style="text-align:center">
    <div class="panel-body">
        <h2> Yayında Olan Hakkımda </h2>
        <textarea rows="10" cols="125" id="input_puslished_aboutus_id">@ViewBag.Aboutus</textarea><br />
        <input type="button" class="btn btn-warning" value="Güncelle" id="input_aboutus_button_id" />
    </div>
</div>

