
@{
    Layout = null;
}

<!DOCTYPE html>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/fontawesome.min.css" rel="stylesheet" />
<link href="~/Content/MyCss/side.css" rel="stylesheet" />

@* -----------------------------Js---------------------------------- *@

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/fontawesome.min.js"></script>
<script src="~/Scripts/MyJs/side.js"></script>


<html>
<head>


    <meta name="viewport" content="width=device-width" />
    <title>AdminLogin</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/H-logo.png" />
</head>
<body id="LoginBody_id">
    <div class="container ">
        @using (Html.BeginForm("Adminlogin", "Admin", FormMethod.Post, new { @class = "login100-form validate-form" }))
        {

            <div class="panel col-md-5 col-xs-12" id="LoginInputPanel_id">
                <div class="panel-body ">


                    <div class="col-md-10 LoginInputs">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="col-md-10 LoginInputs">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <input type="password" class="form-control" name="password" placeholder="Password" />
                        </div>
                    </div>
                    <div class="col-md-4 LoginInputs">

                        <input type="submit" class="btn btn-success" value="Login" />
                    </div>



                </div>
            </div>
        }

    </div>
</body>
</html>
